# Copiar este archivo como .env y ajustar valores

DATABASE_URL=postgresql+psycopg2://erp_user:erp_pass@localhost:5433/erp_electrico

SECRET_KEY=cambiar-esto-por-una-clave-larga-y-aleatoria
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

ENVIRONMENT=development
